.btn {
  column-gap: 0.5rem;
}

.btn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: initial;
}

.btn .spinner .animate-spin {
  width: 0.9rem;
  height: 0.9rem;
  stroke-width: 30px;
  margin-right: 0.65rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
