.tm-form .form-control {
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #475569;
  background-color: #1e293b;
}

.tm-form .form-control:focus {
  border-color: #7dd3fc;
}

.download-cv,
.send-message {
  column-gap: 0.75rem !important;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.tm-form textarea {
  height: 300px !important;
}

.all-social-networks .social {
  padding: 8px 30px;
  border-radius: 20px !important;
  font-family: 'Lato', sans-serif;
  font-size: 0.9em;
}

.all-social-networks .social:hover {
  cursor: pointer;
  opacity: 0.6;
}

.all-social-networks .social:nth-of-type(1) {
  background-color: var(--bs-green);
}

.all-social-networks .social:nth-of-type(2) {
  background-color: #0e76a8;
}

.all-social-networks .social:nth-of-type(3),
.all-social-networks .social:nth-of-type(4) {
  background-color: #171515;
  border: 1px solid #7a7a7a;
}

@media (max-width: 768px) {
  .tm-form {
    width: 100%;
  }

  .tm-social {
    width: 100%;
    margin-top: 30px;
    border-top: 3px solid var(--bs-danger);
    border-left: 0;
  }
  .all-social-networks {
    width: 50%;
    margin: auto;
  }
}

@media (max-width: 560px) {
  .all-social-networks {
    width: 80%;
  }
}

@media (max-width: 450px) {
  .download-cv,
  .download-cv-link {
    width: 100%;
  }

  .download-cv-link {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.65rem;
    margin-left: 0 !important;
  }
}

@media (max-width: 320px) {
  .all-social-networks {
    width: 100%;
  }
}
