.tm-information {
  width: 68.85%;
}

.tm-information h2,
.tm-information h4,
.tm-information h5,
.tm-information h6 {
  font-family: 'Catamaran', sans-serif;
}

@media (min-width: 961px) {
  .tm-information.active-tab::-webkit-scrollbar {
    display: initial;
  }
}

@media (max-width: 1024px) {
  .tm-information {
    width: 69%;
  }
}

@media (max-width: 960px) {
  .tm-information {
    width: 100%;
    padding-bottom: 2em;
  }
}
